*{
    padding:0;
    margin:0;
    position: static;
    font-family:sans-serif;
}
a{
    color: inherit;
    text-decoration:none;
}
.container{
    width:100%;
    margin: auto;
    background-color: #fff;
}

    /* navbar */
nav h1{
    margin-left:70px;
    float: left;
    padding:15px 0px;
    color: #6785ff;
}
nav ul{ 
    float: right;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding:20px 25px;
    display: inline-block;
}
nav ul li a:hover{
    background-color: #6785ff;
    color: white;
}
.active{
    background-color: #6785ff;
    color: white;
}
    /* home */
hr{
    width: 90px;
    height:1px;
}
.home{
    padding:100px;
    height:60vh;
    background-image: url('../images/b.jpg');
    background-size: cover;
}
.home h2{
    width: 150px;
    color: white;
    margin-top: 130px;
    margin-left:390px;
}
/* about */
.about h3{
    margin-top: 300px;
    text-align: center;
    color: #6785ff;
}
.about img{
    margin-left:350px;
    border-radius: 50%;
}
.about p{
    text-align: center;
}
/* school*/
.school{
    background-color: #dae1ff;
}
.school h3{
    margin-top: 100px;
    text-align: center;
    color: #6785ff;
}

.box{
   margin-left: 50px;
   color: #6785ff;
}
.box .col-3{
    width:25%;
    padding:25px;
    text-align: center;
    float: left;
}
.box .col-3 h4:hover{
    background-color: rgb(234, 234, 234);
}
.icon {

    width:70px;
    height:70px;
    border-radius:50%;
    margin: auto;
    transition:3s; 
}
h4{
    margin-top:10px ;
}
h4:hover{
   color: #ffffff;
}
/* footer */
